{% extends 'index.html' %}
{% block head %}
<div style="display: inline-flex;">
    <h2>{{csv_name}}</h2>
</div>
{% endblock %}

{% block body %}
    <table id="dynamic-table-2" class="table table-striped">
    <thead>
    <tr>
        {% for i in csv_head %}
        <th>
            <a>{{ i }}</a>
        </th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in csv_data %}
    <tr>
        {% for i in row %}
            <td>{{ i }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
