{% extends 'index.html' %}
{% block head %}
<div style="display: inline-flex;">
    <h2>{{csv_name}}</h2>
    <button type="submit"
            class="btn btn-success"
            id="count_data">
        Count
    </button>
</div>
<div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
    {%for head in csv_all_head %}
  <input type="checkbox" name='{{head}}' class="btn-check" id="{{head}}" autocomplete="off">
  <label class="btn btn-outline-primary" for="{{head}}">{{head}}</label>
    {% endfor %}
</div>
{% endblock %}

{% block body %}
    <table id="dynamic-table-2" class="table table-striped">
    <thead>
    <tr>
        {% for i in csv_head %}
        <th>
            <a>{{ i }}</a>
        </th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in csv_data %}
    <tr>
        {% for i in row %}
            <td>{{ i }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
<!--<script src="/static/js/value_count.js"></script>-->
{% endblock %}